    {#-------------------------------------#}
    {#     accueil.html.twig
    {#-------------------------------------#}
    {% extends('base.html.twig') %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/chomeQuiPeut.css')}}">
{% endblock %}

 {% block body %}

    {#-------------------------------------#}
    {#     Zone Flash                   #}
    {#-------------------------------------#}
    {{ include('commun/ZoneFlash.html.twig')}}
   
    {#-------------------------------------#}
    {#     Zone Auto publicité             #}
    {#-------------------------------------#}
    <section class="row">
    <h1>{{nbChomeurs}} chômeurs </h1>
    <h2>{{nbOE}} emplois annoncés par {{nbEntrep}} entreprises</h2>
   </section>


    {#-------------------------------------#}
    {#     Zone connexion                  #}
    {#-------------------------------------#}

    <section class="row">
        <article class="col-4">
            <h2>Connexion chômeurs</h2>
            {{ form_start(form) }}

            <div class="form-group">
                {{form_label(form.nom, "Nom:")}}
                {{form_errors(form.nom, {'attr': {'class': 'form-control'}}) }}
                {{form_widget(form.nom) }}
            </div>

                {{ form_widget(form.Valider, { 'attr': {'class': 'btn btn-primary'}} ) }}
                {{ form_rest(form) }}
                {{ form_end(form) }}

                <form action="creationChomeur">
                <button type=submit class="btn btn-warning my-1">Pas de compte</button>
                </form>
        </article>
       
        <article class="col-4">
            <h2>Section Entreprises</h2>
        </article>
     </section>
    


   {% endblock %}

