{% extends 'base.html.twig'%}

{% block body %}

  
   <div>
     {{ include('commun/ZoneFlash.html.twig') }}
   </div>


  <h1>Ajouter chômeur</h1>
  {{ form_start(formChomeur) }}
    <div>
        <article class="row">
        {{ form_label(formChomeur.nom, 'Nom')}}
        {{ form_widget(formChomeur.nom, {attr:{'class':'form-control courtTexte'} } ) }}
          <section class="erreur">
            {{ form_errors(formChomeur.nom, {attr:{'class':'erreur'} } ) }}
           </section>
        </article>

        {{ form_label(formChomeur.courriel, 'Courriel')}}
        {{ form_widget(formChomeur.courriel, {attr:{'class':'form-control courtTexte'} })}}
        {{ form_errors(formChomeur.courriel)}}

        {{ form_label(formChomeur.telephone, 'Tél')}}
        {{ form_widget(formChomeur.telephone, {attr:{'class':'form-control courtTexte'} })}}
        {{ form_errors(formChomeur.telephone)}}
    
        {{ form_label(formChomeur.dateNaissance, 'Né le') }}
        {{ form_widget(formChomeur.dateNaissance) }}
        <section class="erreur">
        {{ form_errors(formChomeur.dateNaissance) }}
        </section>

    </div> 

    <div>
        <h4>Votre adresse:</h4>
        {{ form_label(formChomeur.adresse.numCivique, 'Numéro')}}
        {{ form_widget(formChomeur.adresse.numCivique, {attr:{'class':'form-control courtTexte'} })}}
        {{ form_errors(formChomeur.adresse.numCivique)}}

        {{ form_label(formChomeur.adresse.rue, 'Rue')}}
        {{ form_widget(formChomeur.adresse.rue, {attr:{'class':'form-control courtTexte'} })}}
        {{ form_errors(formChomeur.adresse.rue)}}

        {{ form_label(formChomeur.adresse.ville, 'Ville')}}
        {{ form_widget(formChomeur.adresse.ville, {attr:{'class':'form-control courtTexte'} })}}
        {{ form_errors(formChomeur.adresse.ville)}}

        {{ form_widget(formChomeur.Ajouter, {'attr': {'class':'btn btn-primary'} } ) }}

    </div>

        


     {{ form_end(formChomeur) }}

    {# form_end(formChomeur, {'render_rest' :false}) #}






   <a href="{{ path('accueil') }}"><Button class='btn btn-success m-2'>Accueil</Button></a>
{% endblock %}