{% extends 'base.html.twig'%}

{% block body %}
   <div>
     {{ include('commun/ZoneFlash.html.twig') }}
   </div>

   <h1>Les Entreprises, leurs offres d'emploi et les chômeurs qui ont appliqué</h1>
   <div class="row">
      {% for entreprise in entreprises %}
         <h3>{{entreprise.nom}}</h3>
         <ul>
            {% for oe in entreprise.offresEmplois %}
               <li><h4>{{oe.titre}} ({{oe.salaireAnNuEl}})</h4></li>
               {% for postulation in oe.postulations %} 
                  <h6>{{ postulation.chomeurPostulant.nom }} {{ postulation.chomeurPostulant.adresse.ville }}, {{ postulation.datePostulee |date("Y-m-d H:i:s") }}</h6>
               {% endfor %}
            {% endfor %}
         </ul>
         <hr>
      {% endfor %}
   </div>

   <a href="{{ path('accueil') }}"><Button class='btn btn-success m-2'>Accueil</Button></a>
{% endblock %}