<h1>Détails de {{chomeur.nom}}</h1>
<h2>Tel: {{chomeur.TELephone}}</h2>
<h2>Courriel: {{chomeur.courriel}}</h2>
<h3>Adresse: {{chomeur.adresse.numCivique}} rue {{chomeur.adresse.rue}},</h3>
<h3>{{ chomeur.adresse.ville }}</h3>